<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NicheTea</title>
    <link rel="icon" href="../static/favicon-32x32.png" type="image/x-icon">
 </head>

  <body style="background-image: url('static/viens2.png');">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


  <style>
    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 20%;
      margin-top: -50;
    }
    .c1 {
      color:rgb(52, 148, 116)
    }
    .c2 {
      color:rgb(28, 84, 65)
    }
    .bold {
      font-weight: bold;
    }
  </style>


    <h1 class="mytitle text-center my-2"><span class="c1"><i>Niche</i></span><span class="c2"><b>Tea</b></span></h1> 

    <div class="row" style="margin-top: 20px">
        <div class="col-lg-1"></div>
        <a class="btn btn-success col-lg-2" href="/">Back to home page</a>
    </div>

    <img src="static/Niche Tea 2.png" class="mx-auto center" alt="Responsive image"/>

    <h4 class="text-center bold c2 my-4">About This Website</h4>

    <p class="text-center bold c2" style="margin-left:15%; margin-right:15%;">
      NicheTea.net considers your specific health interests and matches you with the two teas: one common, one niche. Our website hopes to inspire people to try new tea and become healthier & happier in the process. 
    </p>
    
    <p class="text-center bold c2" style="margin-left:15%; margin-right:15%;">
    We are a team of tea enthusiasts. Sean likes green tea/oolong/black tea, Kelley is a matcha fan, and Ronan is always drinking herbal tea. Ronan recovered from Rocky Mountain Spotted Fever (RMSF) and Lyme disease last year and has found herbal teas helpful for his immune system. His recent Reddit find of Cistus Incanus (Rock Rose) tea has been extra beneficial for him, and he hopes this website will enable others to find the ideal tea for their needs.
    </p>

    <p class="text-center bold c2" style="margin-left:15%; margin-right:15%; color: rgb(0, 0, 0);">
      <i>
      We are not medical professionals, and this website is not intended to act in place of a medical professional. Talk to your doctor before trying any dietary supplements.
      </i>
    </p>
</body>
</html>